<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>Vinyls <span th:text="${vinyl.songName}"></span></title>
</head>
<body>
<div layout:fragment="content">
  <section class="my-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Vinyls mgt</h1>
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title" th:text="${vinyl.songName}">Card title</h5>
              <div th:text="${vinyl.releaseDate}"></div>
              <div th:text="'Author: ' + ${vinyl.author.name}"></div>
              <div th:text="'User: ' + ${vinyl.user.email}"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
</body>
</html>
